@font-face {
  font-family: 'MarioFont';
  src: url('../../public/fonts/SuperMario256.ttf') format('truetype');
}

.phaser-wrapper {
  background-color: #5c94fc;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  margin-top: 70px;
  border: 4px solid #222;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 16px #000;
  position: relative;
  image-rendering: pixelated;
}



.phaser-canvas-container {
  width: 100%;
  height: 100%;
}

.back-button-fixed {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #00f5cc;
  color: #032830;
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px #00f5cc88;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.back-button-fixed:hover {
  transform: scale(1.1);
}

.mario-mobile-controls {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 12px 0;
  background: #0a0a0a;
  border-top: 2px solid #222;
}


.mario-mobile-controls .btn {
  background: #1e2d3d;
  color: white;
  font-size: 40px;
  width: 75px;
  height: 75px;
  padding: 10px 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  user-select: none;
  touch-action: none;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

.mario-mobile-controls .btn:active {
  transform: scale(0.95);
}

@media (min-width: 768px) {
  .mario-mobile-controls {
    display: none;
  }
}

@media (max-width: 600px) {
  .phaser-wrapper {
    margin-top: 140px;
    max-width: 100%;
    
  }
}


