@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@import url('./fonts/fonts.css');

body {
  margin: 0;
  padding: 0;
  background-color: #0c1821; 
          
  font-family: 'PressStart2P', monospace;
  font-size: 12px;
  line-height: 1.5;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #00b894;
}

.back-button {
  margin: 20px auto;
  display: block;
  font-family: 'PressStart2P', monospace;
  background-color: #006B56;
  color: #00b894;
  border: 2px solid #00b894;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: white;
  color: #00b894;
}