@import url('./fonts/fonts.css');

body {
  margin: 0;
  padding: 0;
  background-color: #000; /* Fondo negro estilo retro */
  color: #00b894;         /* Verde claro estilo terminal */
  font-family: 'PressStart2P', monospace;
  font-size: 12px;
  line-height: 1.5;
}

a {
  color: #00b894;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.back-button {
  margin: 20px auto;
  display: block;
  font-family: 'PressStart2P', monospace;
  background-color: #006B56;
  color: #00b894;
  border: 2px solid #00b894;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #00b894;
  color: #1e1e1e;
}